<div class="ui container">
  <h1> Live Webinar one-to-many video broadcasting</h1>
  <table class="visible">
    <tr>
      <td style="text-align: left;">
        <a>Enter Session Identifier:</a>
        <input type="text" style="font-size:medium;" id="conference-name" placeholder="Session Name">
      </td>
      <td>
        <button id="start-conferencing" (click)="createButtonClickHandler()" style="font-size: medium;">Start
          Webinar</button>
      </td>
    </tr>
  </table>
  <table style="font-size:medium;" id="rooms-list" class="visible"></table>
  <table class="visible">
    <tr>
    </tr>
  </table>
  <div id="participants"></div>

  <!-- new code starts here -->


  <!-- <div class="webinar-container">
        <div class="sb-pageSection">
            <div class="sb-pageSection-header">
                <h1 class="sb-pageSection-title">Live web seminar</h1>
            </div>
        
            <div class="sb-field-group">
                <label>Enter Session Identifier:</label>
                <input type="text" class="sb-form-control required mb-16" id="conference-name" placeholder="Session Name" required>
                <button id="start-conferencing" (click)="createButtonClickHandler()" class="sb-btn sb-btn-primary sb-btn-normal">Start
                    Webinar</button>
            </div>
        </div>
    </div> -->

</div>