<div class="ui container">
  <div class="webinar-container visible">
    <div class="sb-pageSection ">
      <div class="sb-pageSection-header">
        <h1 class="sb-pageSection-title">Live web seminar</h1>
      </div>

      <div class="sb-field-group" *ngIf="!hideCreateWebinarForm">
        <label>Please Enter Chat Room Name To Start The Webinar:</label>
        <input type="text" class="sb-form-control required mb-16" id="conference-name" placeholder="Chat Room Name"
          required>
        <button id="start-conferencing" (click)="createButtonClickHandler()"
          class="sb-btn sb-btn-primary sb-btn-normal">Create ChatRoom</button>
      </div>

      <div class="sb-field-group" id="rooms-list">
      </div>
    </div>
  </div>

  <div style="padding: 40px 0;">
    <div id="participants" class="video-play-container">
    </div>
  </div>