.sb-pageSection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 392px;
    width: 480px;
    border: 1px solid #dedede;
    border-radius: 4px;
    background: white;
    box-shadow: 0 0.125rem 0.4375rem 0 rgba(0,0,0,.16);
}
.sb-pageSection h1.sb-pageSection-title {
    font-size: 30px;
}
.sb-field-group {
    min-width: 360px;
    text-align: center;
}
.webinar-section{
    
    display: flex;
    overflow: hidden;
}
.webinar-container {
    height: calc(100vh - 82px);
    justify-content: center;
    align-items: center;
    padding: 2em;
    width: 50%;
    overflow: auto;
}
.webinar-data{
    height: calc(100vh - 82px);
    padding: 2em;
    width: 50%;
    overflow: auto;
    .json-data{
        display: block;
        float: none;
        position: relative;
        border: 1px solid #e6e6e6;
        background: #fcfcfc;
        padding: 1em;
    }
}
.webinar-container .sb-pageSection {
    width: 100%;
    max-width: 480px;
    margin-bottom: 1em;
}
.webinar-data .action-btns{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 1em;
}
.webinar-section.webinar-video-section{
    display: block;
    overflow: auto;
    .webinar-data{
        height: auto;
        padding: 2em;
        width: 100%;
        overflow: auto;
    }
    .video-play-container {
        display: grid;
        grid-gap: 16px;
        grid-template-columns: repeat(3, 1fr);
    }
}

.webinar-section{
    .video-play-container{
        display: none;
    }
}

.sb-meta-data-container .sb-meta-data {
    display: flex;
    flex-flow: row wrap;
}
.sb-meta-data-container.sb-meta-data-row-facing .sb-meta-data dt {
    flex-basis: 30%;
    text-align: right;
    word-break: break-all;
    color: hsl(0, 0%, 40%);
}
.sb-meta-data-container .sb-meta-data dd, .sb-meta-data-container .sb-meta-data dt {
    line-height: 1.375rem;
    font-size: .875rem;
    text-transform: inherit;
    padding: .25rem;
}
.sb-meta-data-container.sb-meta-data-row-facing .sb-meta-data dt::after {
    content: ":";
    width: 10px;
    margin: 0 4px;
}
.sb-meta-data-container.sb-meta-data-row-facing .sb-meta-data dd {
    flex-basis: 70%;
    flex-grow: 1;
    color: hsl(0, 0%, 20%);
}



::ng-deep {
    
}