<div class="header">
    <div class="header-content">
        <div class="header-logo">
            <img src="assets/images/sunbird_logo.png" alt="sunbird" title="sunbird" class="logo">
        </div>
        <div class="profile-dropdown">
            <img src="assets/images/Profile.svg" width="40px" height="40px">
            <div class="profile-dropdown-list">
                <a href="#">Profile</a>
                <a href="#">About SUNBIRD</a>
                <a href="#">Telemetry Sync</a>
            </div>
        </div>
    </div>
</div>