<div class="landing-container">
    <div class="header">
      <div class="header-content ui container">
        <div class="header-logo">
          <img src="./../../../../../assets/images/sunbird_logo.png" alt="sunbird" title="sunbird" class="logo">
        </div>
        <div class="profile-dropdown">
          <img src="./../../../../../assets/images/Profile.svg" width="40px" height="40px">
          <div class="profile-dropdown-list">
            <a href="#">Profile</a>
            <a href="#">About SUNBIRD</a>
            <a href="#">Telemetry Sync</a>
          </div>
        </div>
      </div>
    </div>

    <div class="menu-container">
      <div class="menu-tabs">
        <a href="javascript:void(0);" class="active" title="Create"><span>Create</span></a>
        <a href="javascript:void(0);" title="Draft"><span>Draft</span></a>
        <a href="javascript:void(0);" title="Review"><span>Review</span></a>
        <a href="javascript:void(0);" title="Publish"><span>Publish</span></a>
      </div>
    </div>
    <div class="sb-card-container">
      <div class="sb-card">
        <div class="sb-body">
          <div class="sb-title">Book</div>
          <div class="sb-description">Build books using resources for an interesting
            learning experience.</div>
        </div>
      </div>

      <div class="sb-card">
        <div class="sb-body">
          <div class="sb-title">Course</div>
          <div class="sb-description">Build books using resources for an interesting
            learning experience.</div>
        </div>
      </div>

      <div class="sb-card">
        <div class="sb-body">
          <div class="sb-title">Book</div>
          <div class="sb-description">Build books using resources for an interesting
            learning experience.</div>
        </div>
      </div>

      <div class="sb-card">
        <div class="sb-body">
          <div class="sb-title">Course</div>
          <div class="sb-description">Build books using resources for an interesting
            learning experience.</div>
        </div>
      </div>
    </div>
  </div>