<div *ngIf="content$ | async as content; else loading; ">
    <div *ngIf="content && content.data && content.data.children && content.data.children.length">

        <div class="ui container mt-24">
            <div class="twelve wide column">
                <div class="sb-pageSection">
                    <div class="sb-pageSection-header">
                        <h1 class="sb-pageSection-title m-0 mr-5">
                            {{content?.data?.name}}
                        </h1>
                    </div>
                </div>
            </div>
            <div class="twelve wide column">
                <app-collection-tree [nodes]="content" (handleWebinarEvent)="handleWebinar($event)">
                </app-collection-tree>
            </div>
        </div>
    </div>
</div>

<app-create-webinar (close)="showCreateWebinarForm = false" *ngIf="showCreateWebinarForm"
    (createWebinarEvent)="createWebinar($event)"></app-create-webinar>

<ng-template #loading>
    <div>
        Loading...
    </div>
</ng-template>